  <footer>
        <p>Copyright &copy; <span id="copy"></span> NodeAuth</p>
    </footer>
    <script>
        const year = new Date().getFullYear();
        document.getElementById('copy').innerHTML = year;
    </script>
</body>
</html>