<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS JWT Authentication</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <header>
        <a href="/" id="logo">Logo</a>
        <nav>
            <div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/dashboard">Dashboard</a>
            </div>
            <div class="button">
                <span>Hello, {{username}}!</span>
                <a href="/logout">Log out</a>
                <a href="/login">Log in</a>
                <a href="/signup">Sign up</a>
            </div>
        </nav>
    </header>