{{> header}}
<section class="about">
    <h2>About us</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum voluptatem dolores molestiae culpa! Iusto repellendus maiores repellat tenetur eos, dicta accusantium quis eligendi culpa, amet corrupti expedita ducimus quod voluptate deleniti debitis unde cumque eius, veritatis dolores similique. Ullam itaque adipisci, commodi, debitis nisi voluptatibus voluptatum natus magni dignissimos, eius fugiat assumenda consequuntur sit officiis quidem? Laudantium nostrum soluta voluptatibus dicta doloremque doloribus atque consequatur, numquam, eveniet hic quisquam asperiores, quidem rerum tempora. Reiciendis, praesentium velit tempore ab asperiores voluptates aliquam voluptatum eius dolores maiores corporis vero ipsa adipisci hic, vel doloribus quisquam autem ad facilis sunt! Quos, nulla perspiciatis.</p>
</section>
{{> footer}}